# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  name: Default

variables:
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  displayName: Use Dotnet
  inputs:
    packageType: 'sdk'
    version: '3.x'
    includePreviewVersions: false
    performMultiLevelLookup: true
- task: SonarQubePrepare@4
  inputs:
    SonarQube: 'ALM Connect SonarQube Prod'
    scannerMode: 'MSBuild'
    projectKey: 'DR-dotnetcore-test'
- task: DotNetCoreCLI@2
  displayName: DotNet Build
  inputs:
    command: 'build'
    projects: '**/*.csproj'
    arguments: '--configuration $(BuildConfiguration)'
- task: SonarQubeAnalyze@4
- task: DotNetCoreCLI@2
  displayName: 'DotNet Publish'
  inputs:
    command: 'publish'
    publishWebProjects: true
    arguments: '--configuration $(BuildConfiguration) -o $(Build.ArtifactStagingDirectory)'
- task: PublishPipelineArtifact@1
  displayName: 'Publish Pipeline artifact'
  inputs:
    targetPath: '$(Build.ArtifactStagingDirectory)'
    publishLocation: 'pipeline'

