<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultPushSource" value="https://icsrepo.churchofjesuschrist.org/artifactory/api/nuget/nuget-local-shared" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Artifactory shared Nuget" value="https://repo.churchofjesuschrist.org/artifactory/api/nuget/nuget-shared" />
  </packageSources>
</configuration>
